* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.adapt {
  background: blue;
  border: 10px solid red;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.text {
  background: gray;
  color: white;
  padding: 10px;
  font-family: sans-serif;
  max-width: 310px;
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 1400px) {
  .adapt {
    background: black;
  }
}
@media screen and (max-width: 1024px) {
  .adapt {
    background: black;
  }
}
@media screen and (max-width: 992px) {
  .adapt {
    background: green;
  }
}
@media screen and (max-width: 768px) {
  .adapt {
    background: green;
  }
}
@media screen and (max-width: 576px) {
  .adapt {
    background: green;
  }
}
@media screen and (max-width: 460px) {
  .adapt {
    background: green;
  }
}
@media screen and (max-width: 360px) {
  .adapt {
    background: green;
  }
}
@media screen and (max-width: 320px) {
  .adapt {
    background: green;
  }
}
